.Background {
    background-color: inherit;
}

.Subtitle {
    font-size: 1.5rem;
    color: #F8EDEB;
}

.Links {
    font-weight: 600;
    padding-bottom: .5rem;
    text-shadow: -1px 1px 2px #6e7b73;
    color: #D8E2DC;
}

.List {
    color: #494645;
    font-weight: 500;
    line-height: 25px;
}