.Section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    position: relative;
    overflow: hidden;
}

.Certificates {
    margin: auto;
    cursor: pointer;
    background-color: transparent;
}

.Link {
    color: inherit;
}

.Link:hover {
    color: inherit;
}

.Subtitle {
    padding-top: 4rem;
    font-size: 1.5rem;
    color: #d03c29;
}

.Date {
    color: #c78279;
    font-size: 0.8rem;
}