.Section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    position: relative;
    overflow: hidden;
}

.Contact {
    margin: auto;
    position: relative;
    background-color: transparent;
}

.Title {
    font-size: 1.4rem;
    color: #aec0d3;
}

.Subtitle {
    color: #FAE1DD;
}

.Description {
    text-align: center;
    color: #D8E2DC;
}

.Label {
    color: #8a79ba;
    font-weight: 500;
}

.Image {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 300px;
    width: 213px;
}

.FormContainer {
    background-color: transparent;

}

.Button {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8rem;
    background-color: #1198bd;
    border-radius: 8px;
    padding: 4px 11px;
    transition: all 200ms;
    touch-action: manipulation;

}

.Button:active {
    background-color: #3fb7d9;
}

.Button:hover {
    background-color: #69daf9;
}