.Footer {
    background-color: #000000c2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.Title {
    font-size: 0.8rem;
    color: #e0513e;
}

.Icons {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #d8e2dc;
}