.NavBar {
    background-color: #00000091;
}

.Title {
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    color: #8a79ba;
}

.Title:hover {
    color: #cd56d2;
    text-shadow: 0 0 2px #e53feb;
}

.Title:active {
    color: #cd56d2;
    transform: scale(1.01);
}

.Subtitle {
    color: #aec0d3;
    font-size: 1rem;
    padding-left: 2rem;
}

.Commit {
    color: whitesmoke;
}

.Button {
    background-color: transparent;
}

.Button:hover {
    background-color: #5c7c9d;
}

.Button:active {
    background-color: #2a4968;
}

.Offcanvas {
    border: none;
    background-color: #676362b8;
}

.Links {
    font-weight: 600;
    text-decoration: none;
    padding: 0rem 1rem;
    font-size: .9rem;
    color: #e35d8c;
}

.Links:hover {
    color: #1198bd;
}

.Links:active {
    color: #9b47ab !important;
}