.Caption {
    text-align: center;
    color: #FAE1DD;
}

.Caption p {
    font-size: 0.8rem;
    margin: 0;
}

.MobileCaption {
    min-height: 13.2rem;
    width: 18rem;
}

.DesktopCaption {
    min-height: 7rem;
}

.Subtitle {
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: 1rem;
    color: #D8E2DC;
}

h3 {
    font-size: 1.4rem;
}

.Image {
    align-items: center;
    padding: 0rem 5rem 3.5rem;
}

.DesktopVisibility {
    visibility: visible;
    display: block;
}

.MobileVisibility {
    display: none;
    visibility: hidden;
}

.Item {
    white-space: pre-wrap;
}

.Navlink {
    color: #FAE1DD;
}

.Image {
    height: 40rem;
}

@media only screen and (max-width: 768px) {
    .DesktopVisibility {
        display: none;
        visibility: hidden;
    }

    .MobileVisibility {
        display: block;
        visibility: visible;
    }
}