.Section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    position: relative;
    overflow: hidden;
}

.Projects {
    margin: auto;
    position: relative;
    background-color: transparent;
}

.DesktopVisibility {
    visibility: visible;
    display: block;
}

.MobileVisibility {
    display: none;
    padding-top: 5rem;
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .DesktopVisibility {
        display: none;
        visibility: hidden;
    }

    .MobileVisibility {
        display: block;
        visibility: visible;
    }
}