.Skills {
    background-color: transparent;
}

.Subtitle {
    padding: 1rem 0rem;
    text-align: center;
    color: #24313e;
}

.Item {
    color: #1b2835 !important;
    background-color: #ffede4;
}

.BulletList::before {
    content: "•";
    padding-right: .5rem;
}

@media only screen and (max-width: 600px) {
    .Col {
        padding: 0 10rem;
    }
}

@media only screen and (max-width: 490px) {
    .Col {
        padding: 0 4rem;
    }
}