.Skills {
    background-color: transparent;
}

.Subtitle {
    padding: 1rem 0rem;
    text-align: center;
    color: #24313e;
}

.Item {
    padding: 1rem;
    color: #1b2835 !important;
    background-color: #ffede4;
}

.BulletList::before {
    content: "•";
    padding-right: .5rem;
}