body {
  background-color: #676362;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #D8E2DC !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}