body {
  background-color: #010103;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 1200px) {

  html,
  body {
    overflow: hidden;
  }
}